.board {
  max-width: 600px;
  border: 10px solid #000;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.board > div {
  border: 1px solid #000;
  display:inline-block;
  vertical-align: top;
  height: 200px;
}
